@model biblioteca_virtual.ViewModels.HomeVM

@{
    ViewData["Title"] = "Biblioteca Virtual";
    string BackgroundColor(string cor)
    {
        return cor.Replace("1)", "0.75)");
    }
}

<div class="pt-5 container">
    <div class="row">
        <div class="col mx-auto text-center">
            <h1 class="display-4 text-white">Biblioteca Virtual</h1>
            <div class="my-3">
                <button id="btn-all" class="btn btn-md my-2 text-white bg-secondary btn-filter">Ver Todos</button>
                
                @foreach (var genero in Model.Generos)
                {
                    <button id="btn-@genero.Nome_genero" class="btn btn-sm my-2 text-white btn-filter">
                        @genero.Nome_genero
                    </button>
                }
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
        @foreach (var livro in Model.Livros)
        {
            <!-- Card Livro - Início -->
            <div class="col">
                <a asp-action="Details" asp-route-id="@livro.Id_livro" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-text mb-1 text-white">Id: @livro.Id_livro</h5>
                            <h3 class="card-title text-dark">@livro.titulo</h3>
                            <p class="text-dark">Autor: @livro.Autor.Nome_autor</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex gap-2 my-2">
                                        <a href="#" class="btn text-white btn-dark">@livro.Genero.Nome_genero</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Card Livro - Fim -->
        }

        <div id="zeroLivro" class="col-lg-12 text-center" hidden>
            <h1 class="my-3 text-danger">Nenhum Livro Encontrado</h1>
        </div>
    </div>
</div>
